#circle-small {
  position: absolute;
  width: 50vh;
  height: 50vh;

  border: 5px solid #fcfcfb;
  border-radius: 50%;
  box-sizing: border-box;
}

.circle-pictures,
.text {
  width: 50vw;
}

.text {
  width: 40vw;
}

.circle-picture:nth-of-type(2) {
  position: relative;
  width: 140px;
  height: 137px;
  top: -15%;
  left: 10%;
  background-color: red;
  z-index: 1000;
  background-image: url("https://i.insider.com/5f43cbe289aff80028ab7730?width=1100&format=jpeg&auto=webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.circle-picture:nth-of-type(3) {
  position: relative;
  width: 175px;
  height: 174px;
  top: -20%;
  left: 15%;
  background-color: green;
  z-index: 1000;
  background-image: url("https://i.pinimg.com/474x/3c/ce/b4/3cceb4d9382e7574ef277889f9d38082.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.circle-picture:nth-of-type(4) {
  position: relative;
  width: 233px;
  height: 201px;

  top: 10%;
  left: -40%;
  background-color: yellow;
  z-index: 1000;
  background-image: url("https://i.insider.com/5e1f50ec24fe1236ac25f068?width=1100&format=jpeg&auto=webp");
  background-size: cover;
  background-repeat: no-repeat;
}

/* https://i.insider.com/5e1f50ec24fe1236ac25f068?width=1100&format=jpeg&auto=webp */
/* https://i.pinimg.com/564x/8c/bc/27/8cbc273fd4dbe4d875b9cd596686925f.jpg */
